@import '../../styles/breakpoints.module.scss';

.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 680px;
    align-items: center;

    @media only screen and (max-width: $breakpoint-900p) {
        height: 680px;
    }
    @media only screen and (max-width: $breakpoint-720p) {
        height: 630px;
    }
    @media only screen and (max-width: $breakpoint-large) {
        height: 580px;
    }
    @media only screen and (max-width: $breakpoint-medium) {
        height: 530px;
        width: 90%;
    }
    @media only screen and (max-width: $breakpoint-small) {
        height: 350px;
        width: 90%;
    }
}

.orderingWrapper {
    @extend .wrapper;
    width: 90%;
    height: 680px;
}

.restaurantPicture {
    height: 100%;
    width: 100%;
    float: right;
    border-radius: 40px;
}

.titleWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    height: 20%;
}

.svgSeparator {
    transform: rotate(90deg);
    fill: #c10016;
    cursor: pointer;
}

.svgSeparatorRotated {
    @extend .svgSeparator;
    transform: rotate(-90deg);
}

.titleLabel {
    font-size: 28px;
    cursor: pointer;

    @media only screen and (max-width: $breakpoint-900p) {
        font-size: 28px;
    }
    @media only screen and (max-width: $breakpoint-720p) {
        font-size: 26px;
    }
    @media only screen and (max-width: $breakpoint-large) {
        font-size: 24px;
    }
    @media only screen and (max-width: $breakpoint-medium) {
        font-size: 22px;
    }
    @media only screen and (max-width: $breakpoint-small) {
        font-size: 12px;
    }
}

.orderingTitleLabel {
    font-size: 24px;
    cursor: pointer;
}

.descriptionLabelDiv {
    display: flex;
    height: 20%;
    width: 100%;
    justify-content: center;
}

.priceWrapper {
    display: flex;
    width: 100%;
    height: 10%;
    justify-content: center;
    align-items: center;
}

.contentLabel {
    font-family: Poppins;
    text-transform: uppercase;
    font-size: 24px;
    color: #333333;

    @media only screen and (max-width: $breakpoint-900p) {
        font-size: 24px;
    }
    @media only screen and (max-width: $breakpoint-720p) {
        font-size: 22px;
    }
    @media only screen and (max-width: $breakpoint-large) {
        font-size: 20px;
    }
    @media only screen and (max-width: $breakpoint-medium) {
        font-size: 18px;
    }
    @media only screen and (max-width: $breakpoint-small) {
        font-size: 12px;
    }
}

.priceLabel {
    @extend .contentLabel;
    color: #c10016;
}

.descriptionLabel {
    font-weight: lighter;
    font-size: 20px;
    width: 90%;

    @media only screen and (max-width: $breakpoint-900p) {
        font-size: 20px;
    }
    @media only screen and (max-width: $breakpoint-720p) {
        font-size: 18px;
    }
    @media only screen and (max-width: $breakpoint-large) {
        font-size: 16px;
    }
    @media only screen and (max-width: $breakpoint-medium) {
        font-size: 14px;
    }
    @media only screen and (max-width: $breakpoint-small) {
        font-size: 10px;
    }
}

.orderingDescriptionLabel {
    font-weight: lighter;
    font-size: 18px;
}

.buttonContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
}
