.wrapper {
    position: relative;
    display: flex;
    align-items: center;
    width: 690px;
}

.icon {
    position: absolute;
    box-sizing: border-box;
    transform: translateY(-50%);
}

.input {
    height: 50px;
    box-sizing: border-box;
    padding-left: 6%;

    font-family: Poppins;
    font-weight: 400;
    font-size: 20px;
    width: 100%;
    outline: none;
    border: 0;
    border-bottom: 1px solid #33333380;
    background: transparent;
    &::placeholder {
        color: #3333334d;
    }
}
