@import '../../styles/breakpoints.module.scss';

.colDiv {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.rowDiv {
    display: flex;
    height: 100%;
    width: 100%;
}

.container {
    @extend .colDiv;
    height: 100vh;
}

.titleLabel {
    font-family: Poppins;
    font-weight: 500;
    color: #333333;
    margin-top: 12%;
    margin-bottom: 1%;
    margin-left: 5%;
    font-size: 32px;

    @media only screen and (max-width: $breakpoint-large) {
        font-size: 28px;
    }
    @media only screen and (max-width: $breakpoint-medium) {
        font-size: 18px;
    }
}

.formContainer {
    @extend .colDiv;
    align-items: center;
}

.formWrapper {
    @extend .colDiv;
    width: 60%;
    align-items: center;

    @media only screen and (max-width: $breakpoint-large) {
        width: 70%;
    }
    @media only screen and (max-width: $breakpoint-medium) {
        width: 100%;
    }
}

.formDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3%;
    width: 80%;
    height: 100%;
    @media only screen and (max-width: $breakpoint-large) {
        height: 90%;
    }
}

.formButton {
    width: 35%;
    height: 7%;
    background: #c10016;
    border: 0;
    color: white;
    font-family: Poppins;
    font-size: 22px;
    font-weight: lighter;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 5%;

    @media only screen and (max-width: $breakpoint-large) {
        font-size: 18px;
        width: 40%;
        height: 10%;
    }
    @media only screen and (max-width: $breakpoint-medium) {
        font-size: 16px;
        width: 80%;
        height: 8%;
    }
}

.disabledInput {
    font-weight: lighter;
    pointer-events: none;
    color: #333333;
    font-size: 18px;
}

.editableInput {
    @extend .disabledInput;
    pointer-events: all;
    font-weight: 400;
}

.emailInput {
    @extend .disabledInput;
    color: rgba(51, 51, 51, 0.5);
}

.changePasswordWrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 1%;
}

.changePasswordLabel {
    display: flex;
    align-items: center;
    font-family: Poppins;
    font-weight: lighter;
    font-size: 18px;
    cursor: pointer;

    color: rgba(51, 51, 51, 0.8);
}

.passwordIcon {
    height: 60%;
}
