.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.wrapper {
    display: flex;
    flex-direction: column;
    width: 85%;
    height: 90%;
}

.formDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3%;
    width: 100%;
    height: 100%;
}

.formTitle {
    font-family: Poppins;
    width: 100%;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;

    color: #333333;
    text-align: center;
    text-transform: uppercase;
}

.formButton {
    width: 90%;
    height: 100%;
    background: #c10016;
    border: 0;
    color: white;
    font-family: Poppins;
    font-size: 22px;
    font-weight: lighter;

    text-transform: uppercase;
    border-radius: 15px;
    cursor: pointer;
}

.input {
    height: 60%;
}

.notificationContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.notificationDiv {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10%;
    width: 80%;
    height: 80%;
}

.notificationButton {
    width: 90%;
    height: 40px;
    background: #c10016;
    border: 0;
    color: white;
    font-family: Poppins;
    font-weight: lighter;
    font-size: 20px;
    text-transform: uppercase;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 5%;
}

.contentDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.contentLabel {
    font-family: Poppins;
    font-weight: 400;
    color: #c10016;
    font-size: 14px;
}

.buttonWrapper {
    display: flex;
    width: 100%;
    height: 8%;
    justify-content: center;
    align-items: center;
}

.inputWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.spinner {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
