.headerWrapper {
    @include flex-options(space-between, center, row);
    position: absolute;
    width: 100%;
    height: 15%;
    background: rgba(30, 30, 30, 0.3);

    .container-flags{
    padding-left:20px;
    display: flex;
    flex-direction: row;
    grid-column-gap:20px;

    .icon-flag{
        width: 45px;
        height: 45px;
        }
    }
    @media only screen and (max-width: $breakpoint-medium) {
        display: none;
    }

    &--red {
        background: #c50016;
    }

    &__logoWrapper {
        @include flex-options(center, center, row);
        width: 10%;
        height: 100%;
        margin-left: 5%;
        object-fit: contain;

        &__logoImage {
            height: 100%;
            width: 100%;
        }
    }

    &__buttonWrapper {
        @include flex-options(flex-end, center, row);
        width: 50%;
        height: 100%;

        @media only screen and (max-width: $breakpoint-1440p) {
            width: 35%;
        }
        @media only screen and (max-width: $breakpoint-1080p) {
            width: 40%;
        }
        @media only screen and (max-width: $breakpoint-medium) {
            display: none;
        }

        &__profileIconWrapper {
            @include flex-row-vertical-center;
            height: 50%;
            padding-right: 5%;
            position: relative;

            &__profileIcon {
                padding-right: 2%;
                cursor: pointer;
                max-height: 100%;
                max-width: 100%;
            }

            &__dropDownButtonWrapper {
                @include flex-column;
                width: 90%;
                padding: 5%;
            }

            &__dropdownMenu {
                position: absolute;
                @include flex-column;
                align-items: center;
                background-color: #c50016;
                width: 250px;
                right: 15%;
                top: 100%;
                padding: 0;
                border-bottom-right-radius: 30px;
                border-bottom-left-radius: 30px;

                @media only screen and (max-width: $breakpoint-720p) {
                    width: 220px;
                }
                @media only screen and (max-width: $breakpoint-large) {
                    width: 180px;
                }

                &--home {
                    background-color: rgba(30, 30, 30, 0.3);
                }
            }
        }
    }
}

//Mobile Header

.mobileHeaderContainer {
    @include flex-options(space-between, center, row);
    height: 100px;
    width: 100%;

    &__pictureWrapper {
        height: 60%;
        overflow: auto;
        overflow-y: hidden;
        margin-right: 5%;

        &__profile {
            max-width: 100%;
            max-height: 100%;
        }
    }

    &__burgerMenu {
        margin-left: 5%;
        height: 100%;
    }
}
