.navButton {
    width: 25%;
    height: 40%;
    margin-right: 5%;
    color: white;
    font-weight: 300;
    font-family: 'Nunito';
    font-size: 25px;
    background: transparent;
    cursor: pointer;
    border-radius: 20px;
    border: 0;
}

.navButtonSelected {
    @extend .navButton;
    border: 2px solid #c10016;
}
