@import '../../styles/breakpoints.module.scss';

.navButton {
    width: 25%;
    height: 40%;
    margin-right: 5%;
    color: white;
    font-weight: 300;
    font-family: 'Nunito';
    font-size: 25px;
    background: transparent;
    cursor: pointer;
    border-radius: 20px;
    border: 0;

    @media only screen and (max-width: $breakpoint-ultrawide) {
        width: 20%;
        height: 30%;
    }
    @media only screen and (max-width: $breakpoint-1080p) {
        width: 20%;
    }
    @media only screen and (max-width: $breakpoint-900p) {
        width: 25%;
        height: 40%;
    }
    @media only screen and (max-width: $breakpoint-720p) {
        width: 25%;
        height: 45%;
        font-size: 22px;
    }
    @media only screen and (max-width: $breakpoint-large) {
        width: 40%;
        height: 50%;
        font-size: 18px;
    }
}

.navButtonSelected {
    @extend .navButton;
    border: 2px solid #c10016;
}

.navButtonProfileSelected {
    @extend .navButtonSelected;
    border: 2px solid white;
}
