.button {
    width: 220px;
    height: 60px;
    font-weight: 500;
    font-family: Nunito;
    cursor: pointer;
    border-radius: 20px;
    border: 0;
    font-size: 24px;
    margin: 15px;

    color: white;
    border: none;
    background: #c10016;
}
