.button {
    width: 220px;
    height: 60px;
    font-family: Poppins;
    font-weight: lighter;
    cursor: pointer;
    border-radius: 20px;
    border: 0;
    font-size: 20px;
    margin: 15px;

    color: white;
    border: none;
    background: #c10016;
}
