@import '../../styles/breakpoints.module.scss';

.rowDiv {
    display: flex;
    height: 100%;
    width: 100%;
}
.colDiv {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}
.container {
    height: 250px;
    width: 100%;
    margin-top: 3%;
    margin-bottom: 3%;

    @media only screen and (max-width: $breakpoint-720p) {
        height: 200px;
        margin-top: 5%;
        margin-bottom: 5%;
    }
    @media only screen and (max-width: $breakpoint-large) {
        height: 180px;
    }
    @media only screen and (max-width: $breakpoint-medium) {
        height: 150px;
    }
}

.pictureWrapper {
    height: 100%;
    width: 20%;
    border-radius: 20px;
    overflow: auto;
    overflow-y: hidden;

    @media only screen and (max-width: $breakpoint-medium) {
        width: 60%;
    }
}

.contentWrapper {
    @extend .colDiv;
    height: 100%;
    width: 70%;
    margin-left: 5%;
    gap: 15px;
}

.mealPicture {
    max-width: 100%;
    max-height: 100%;
}

.titleLabel {
    font-family: Poppins;
    font-weight: 500;
    font-size: 26px;
    color: #333333;

    @media only screen and (max-width: $breakpoint-large) {
        font-size: 20px;
    }
    @media only screen and (max-width: $breakpoint-medium) {
        font-size: 14px;
    }
}

.contentLabel {
    font-family: Poppins;
    font-weight: lighter;
    font-size: 20px;
    color: #333333;

    @media only screen and (max-width: $breakpoint-large) {
        font-size: 16px;
    }
    @media only screen and (max-width: $breakpoint-medium) {
        font-size: 8px;
    }
}

.buttonContainer {
    @extend .rowDiv;
    justify-content: flex-end;
    align-items: center;
}
.buttonWrapper {
    @extend .rowDiv;
    width: 50%;
    align-items: center;
    justify-content: flex-end;
    gap: 5%;

    @media only screen and (max-width: $breakpoint-720p) {
        width: 45%;
    }
    @media only screen and (max-width: $breakpoint-large) {
        width: 55%;
    }
    @media only screen and (max-width: $breakpoint-medium) {
        width: 80%;
        gap: 10%;
    }
}

.priceLabel {
    font-family: Poppins;
    font-weight: 400;
    font-size: 28px;
    color: #c10016;

    @media only screen and (max-width: $breakpoint-720p) {
        font-size: 24px;
    }
    @media only screen and (max-width: $breakpoint-large) {
        font-size: 20px;
    }
    @media only screen and (max-width: $breakpoint-medium) {
        font-size: 14px;
    }
}

.cancelButton {
    font-family: Poppins;
    font-weight: lighter;
    cursor: pointer;
    border-radius: 20px;
    border: 0;
    font-size: 20px;
    width: 50%;
    height: 100%;

    color: white;
    border: none;
    background: #c10016;

    @media only screen and (max-width: $breakpoint-900p) {
        font-size: 20px;
    }
    @media only screen and (max-width: $breakpoint-720p) {
        font-size: 18px;
    }
    @media only screen and (max-width: $breakpoint-large) {
        font-size: 16px;
    }
    @media only screen and (max-width: $breakpoint-medium) {
        font-size: 14px;
    }
}
