@import '../../styles/breakpoints.module.scss';

.colDiv {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.rowDiv {
    display: flex;
    height: 100%;
    width: 100%;
}

.container {
    @extend .colDiv;
    margin-top: 10%;
    align-items: center;
}

.emptyContainer {
    @extend .colDiv;
    height: 100vh;
    align-items: center;
}

.titleLabel {
    font-family: Poppins;
    font-weight: 500;
    color: #333333;
    margin-top: 3%;
    margin-bottom: 1%;
    font-size: 32px;

    @media only screen and (max-width: $breakpoint-720p) {
        font-size: 28px;
    }
    @media only screen and (max-width: $breakpoint-large) {
        font-size: 24px;
    }
}

.emptyTitleLabel {
    @extend .titleLabel;
    margin-top: 12%;
}

.infoLabel {
    font-family: Poppins;
    font-weight: lighter;
    color: #333333;
    font-size: 22px;

    @media only screen and (max-width: $breakpoint-720p) {
        font-size: 20px;
    }
    @media only screen and (max-width: $breakpoint-large) {
        font-size: 18px;
    }
}

.menuRowDiv {
    @extend .rowDiv;
    height: 50px;
    align-items: flex-start;
    justify-content: space-between;
    gap: 2%;
}

.colDiv1 {
    @extend .colDiv;
    width: 90%;
    margin-top: 5%;
    align-items: center;
}

.reservationWrapper {
    @extend .colDiv;
    border-bottom: 1px solid rgba(193, 0, 22, 0.2);
    margin-bottom: 3%;
}

.reservationLabel {
    font-family: Poppins;
    font-weight: 400;
    font-size: 24px;
    color: #333333;

    @media only screen and (max-width: $breakpoint-720p) {
        font-size: 20px;
    }
}
