@import '../../styles/breakpoints.module.scss';

.colDiv {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}
.rowDiv {
    display: flex;
    height: 100%;
    width: 100%;
}
.wrapper {
    width: 100%;
    height: 50vh;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url('../../../public/static/assets/images/background.png');
    backdrop-filter: blur(1.5px);
    background-size: cover;
    background-position: 55%;
    
}

.title {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 25%;
    font-family: Londrina Solid;
    font-weight: 400;
    font-size: 96px;
    text-shadow: -0.5px 0px 0px black, 0.5px 0px 0px black, 0px -0.5px 0px black,
        0px 0.5px 0px black;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    color: #c10016;
    margin-top: 12%;

    @media only screen and (max-width: $breakpoint-ultrawide) {
        font-size: 130px;
    }
    @media only screen and (max-width: $breakpoint-1080p) {
        font-size: 96px;
        margin-top: 15%;
    }
    @media only screen and (max-width: $breakpoint-900p) {
        font-size: 96px;
    }
    @media only screen and (max-width: $breakpoint-large) {
        font-size: 80px;
    }
    @media only screen and (max-width: $breakpoint-medium) {
        font-size: 80px;
    }
}

.menuRowDiv {
    @extend .rowDiv;
    height: 50px;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 2%;
    margin-bottom: 2%;

    @media only screen and (max-width: $breakpoint-medium) {
        gap: 10px;
    }
}

.tabWrapper {
    @extend .rowDiv;
    justify-content: center;
    margin-bottom: 5%;
    margin-top: 3%;
}

.aboutUsContainer {
    @extend .rowDiv;
    width: 90%;
}

.aboutUsWrapper {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    gap: 5%;

    @media only screen and (max-width: $breakpoint-large) {
        flex-direction: column;
    }
}

.content {
    @extend .colDiv;
}

.contentTitle {
    font-family: Poppins;
    font-weight: 600;
    font-size: 28px;
    color: #c10016;
    width: 90%;

    @media only screen and (max-width: $breakpoint-ultrawide) {
        font-size: 36px;
    }
    @media only screen and (max-width: $breakpoint-900p) {
        font-size: 28px;
    }
    @media only screen and (max-width: $breakpoint-large) {
        font-size: 24px;
        margin-top: 50px;
        display: block;
        text-align: center;
    }
    @media only screen and (max-width: $breakpoint-medium) {
        font-size: 22px;
        margin-top: 0px;
    }
}

.contentText {
    font-family: Poppins;
    font-weight: 300;
    font-size: 24px;
    color: #333333;
    width: 90%;
    margin-top: 10%;

    @media only screen and (max-width: $breakpoint-ultrawide) {
        font-size: 30px;
    }
    @media only screen and (max-width: $breakpoint-900p) {
        font-size: 24px;
    }
    @media only screen and (max-width: $breakpoint-large) {
        font-size: 18px;
    }
    @media only screen and (max-width: $breakpoint-medium) {
        font-size: 16px;
    }
}

.privacyInfoContainer {
    @extend .colDiv;
    width: 90%;
}

.infoTitle {
    font-family: Poppins;
    font-weight: 600;
    font-size: 24px;
    color: #c10016;
    margin-bottom: 5%;

    @media only screen and (max-width: $breakpoint-medium) {
        font-size: 16px;
    }
}

.infoText {
    font-family: Poppins;
    font-weight: 300;
    font-size: 24px;
    color: #000000;

    @media only screen and (max-width: $breakpoint-medium) {
        font-size: 16px;
    }
}

.FAQContainer {
    @extend .colDiv;
    width: 60%;

    @media only screen and (max-width: $breakpoint-medium) {
        width: 80%;
    }
}

.tabButton {
    font-size: 20px;

    @media only screen and (max-width: $breakpoint-ultrawide) {
        font-size: 24px;
    }
    @media only screen and (max-width: $breakpoint-900p) {
        font-size: 20px;
    }
    @media only screen and (max-width: $breakpoint-large) {
        font-size: 16px;
    }
    @media only screen and (max-width: $breakpoint-medium) {
        font-size: 12px;
        width: 20%;
        height: 50%;
        border-radius: 7px;
        border: 1px solid;
    }
    @media only screen and (max-width: $breakpoint-small) {
        font-size: 8px;
        width: 20%;
        height: 50%;
        border-radius: 7px;
        border: 1px solid;
    }
}

.aboutUsHeader {
    position: absolute;
}

.pictureWrapper {
    height: 100%;
    width: 100%;
    overflow: auto;
    overflow-y: hidden;
    overflow-x: hidden;
    border-radius: 30px;

    @media only screen and (max-width: $breakpoint-medium) {
        margin-bottom: 10%;
    }

    @media only screen and (max-width: $breakpoint-small) {
        margin-bottom: 10%;
        height: 40%;
    }
}

.aboutUsPicture {
    max-width: 100%;
    max-height: 100%;
    @media only screen and (max-width: $breakpoint-large) {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    @media only screen and (max-width: $breakpoint-medium) {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}
