@import '../../../styles//breakpoints.module.scss';
.modalContainer {
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    transform: translate(-50%, -50%);
    position: absolute;
    height: 90%;
    width: 60%;
    border-radius: 30px;

    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.05);
    overflow: visible;
    background-color: #e7e7e7e5;
    backdrop-filter: blur(10px);
    border: white;

    display: flex;
    align-items: center;

    @media only screen and (max-width: $breakpoint-ultrawide) {
        height: 60%;
        width: 55%;
    }
    @media only screen and (max-width: $breakpoint-1080p) {
        height: 70%;
        width: 55%;
    }
    @media only screen and (max-width: $breakpoint-900p) {
        height: 90%;
        width: 70%;
    }
    @media only screen and (max-width: $breakpoint-720p) {
        height: 90%;
        width: 65%;
    }
    @media only screen and (max-width: $breakpoint-large) {
        height: 95%;
        width: 75%;
    }
    @media only screen and (max-width: $breakpoint-medium) {
        display: none;
    }
}

.formContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    @media only screen and (max-width: $breakpoint-720p) {
        height: 90%;
    }
    @media only screen and (max-width: $breakpoint-large) {
        height: 60%;
    }
}

.formDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3%;
    width: 80%;
    height: 100%;
}

.formTitle {
    font-family: Poppins;
    width: 100%;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;

    color: #333333;
    text-align: center;
    text-transform: uppercase;

    @media only screen and (max-width: $breakpoint-large) {
        font-size: 28px;
    }
}

.formButton {
    width: 65%;
    height: 7%;
    background: #c10016;
    border: 0;
    color: white;
    font-family: Poppins;
    font-size: 22px;
    text-transform: uppercase;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 5%;

    @media only screen and (max-width: $breakpoint-large) {
        height: 20%;
    }
}

.separator {
    height: 1px;
    border: 0;
    background: #333333cc;
    width: 40%;
}

.separatorWrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2%;
}

.separatorLabel {
    width: 10%;
    font-family: Poppins;
    font-weight: 500;
    font-size: 32px;
    color: #333333;
    text-align: center;
    text-transform: uppercase;

    @media only screen and (max-width: $breakpoint-large) {
        font-size: 28px;
    }
}

.buttonWrapper2 {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 5%;
    margin: 0;

    @media only screen and (max-width: $breakpoint-large) {
        height: 15%;
        gap: 0;
    }
}

.buttonImage {
    max-width: 100%;
    max-height: 100%;
}
