.modalContainer {
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    transform: translate(-50%, -50%);
    position: absolute;
    height: 80%;
    width: 950px;
    border-radius: 30px;

    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.05);
    overflow: visible;
    background-color: #e7e7e7e5;
    backdrop-filter: blur(10px);
    border: white;
}

.modalContainerSuccessfulRegistration {
    @extend .modalContainer;
    height: 60%;
    width: 45%;
}

.formContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.formDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 80%;
    height: 100%;
}

.formTitle {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 48px;

    color: #333333;
    text-align: center;
    text-transform: uppercase;
}

.formButton {
    width: 70%;
    height: 50px;
    background: #c10016;
    border: 0;
    color: white;
    font-family: Poppins;
    font-size: 22px;
    text-transform: uppercase;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 5%;
}

.separator {
    height: 1px;
    border: 0;
    background: #33333380;
    width: 40%;
}

.separatorWrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2%;
}

.separatorLabel {
    width: 10%;
    font-family: Poppins;
    font-weight: 500;
    font-size: 32px;
    color: #333333;
    text-align: center;
    text-transform: uppercase;
}

.buttonWrapper2 {
    height: 10%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 15%;
    margin: 0;
}

.contentDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.contentLabel {
    font-family: Poppins;
    font-weight: 400;
    color: #c10016;
    font-size: 16px;
}
